.container {
    width: 100vw;    
    display: grid;

    grid-template-columns: 8rem 1fr;
    grid-template-rows: repeat(3, max-content);

    grid-template-areas: "side head"
                         "side main"
                         "side foot";
}

.header {
    width: 100%;
    grid-area: head;
    display: flex;
    height: 80rem;
}

.main {
    width: 100%;
    grid-area: main;
}

